


.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: var(--navbar-color);
  border-bottom: 1px solid #ddd;
}
.logoBox{

  align-items: center;
  gap: 10px;
}
.logoBox img {
  width: 40px;
  height: 40px;
  margin-right: 3px;
}
.brand{
  font-size: 1.2rem;
  font-weight: bold;
color: var(--primary-color);
}
.linksBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}
